.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 1.75rem;
  color: #4ECCA3;
}

img {
  width: 80%;
}

#button{
  padding-top: 5%;
}

.btn:hover{
  color: #4ECCA3;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
}

a{
  text-decoration: none;
  color:#EEEEEE;
}

a:hover{
  color: #4ECCA3;
}